[Desktop Entry]
Encoding=UTF-8
Name=Link to tomazas/opencv-lane-vehicle-track: OpenCV implementation of lane and vehicle tracking
Type=Link
URL=https://github.com/tomazas/opencv-lane-vehicle-track
Icon=text-html
